appnope 
asttokens 
backcall 
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.2
brotlipy 
certifi==2022.12.7
cffi 
charset-normalizer 
click==8.1.3
comm 
cryptography 
debugpy 
decorator 
docopt==0.6.2
entrypoints 
executing 
gTTS==2.3.1
idna 
ipykernel 
ipython 
jedi 
JPype1==1.4.1
Js2Py==0.74
jupyter_client 
jupyter_core 
konlpy==0.6.0
lxml==4.9.2
matplotlib-inline 
nest-asyncio 
numpy==1.24.1
packaging 
parso 
pexpect 
pickleshare 
pipwin==0.5.2
platformdirs 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
PyAudio==0.2.13
pycparser 
Pygments 
pyjsparser==2.7.1
pyOpenSSL 
PyPrind==2.11.3
pySmartDL==1.3.4
PySocks 
python-dateutil 
pytz-deprecation-shim==0.1.0.post0
pyzmq 
requests 
six 
soupsieve==2.3.2.post1
SpeechRecognition 
stack-data 
tk==0.1.0
torch==1.13.1
tornado 
traitlets 
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3 
wcwidth 
